<div class="row">
    <div class="col-xs-12">
        <h4>updatable json array objects</h4>

        <textarea
         name="textarea" 
         cols="50" rows="15" 
         style="padding: 15px;" 
         [(ngModel)]="fieldsAsString" 
         (blur)="onBlurTextarea()"> 
        </textarea>  
        <br><br>
        <p>*kindly click anywhere outside the textarea after update 'controlType' field*</p>
        <p>*incase the controlType is radioGroup or dropdown do not forget to enter 'options array of value*</p>

    </div>
</div>







